@import "../../../../public/assets/styles/base.scss";

.card {
  box-shadow: $shadow
}

.card__auth--login {
  width: 500px !important;
}

.card-footer__auth--login {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}
