@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


$blue: #256188;
$text-white: #fff;
$dark-blue: #244062;
$black: #000;
$default-font: "Raleway", sans-serif;
$grey: #676e7a;
$light-blue: rgba(45, 113, 158, 0.7);
$dark-grey: rgba(102, 102, 102, 0.5);
$light-grey: rgba(153, 153, 153, 0.2);
$font-normal: 400;
$font-bold: 600;
$shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);

