@import "./base.scss";

.main {
  min-height: calc(100vh - 40px);
  padding: 3.4rem 2rem 2rem;
}

.main__auth {
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-auth {
  background-color: $blue;
  padding-top: 0;
  padding-bottom: 0;
}

.card__auth {
  max-width: 500px;
}

.card-header__auth {
  background-color: $dark-grey;
  color: $blue;
  font-size: 1.5rem;
  padding: 0.4rem 0;
}

.card-footer__auth {
  padding: 0.4rem 0;

  a {
    color: $blue;
  }
}

.btn__auth {
  background-color: $blue;
  color: $text-white;
  font-weight: $font-bold;

  &:hover {
    color: $text-white;
    background-color: $dark-blue;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 3.4rem 0.6rem 0.6rem;
  }
}
