@import "../../../public/assets/styles/base.scss";

.modal-header {
  justify-content: center;
  padding: 0;
  background-color: $dark-grey;
  font-size: 1rem;
  color: $blue;
}

.form-control:focus {
  border-color: $blue;
  box-shadow: none;
}

.btn-destination {
  background-color: $blue;
  color: $text-white;
  font-weight: $font-bold;

  &:hover {
    color: $text-white;
    background-color: $dark-blue;
  }
}
