@import "../../../public/assets/styles/base.scss";

.home-page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/assets/images/parceld.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $default-font;

  h1 {
    font-size: 3.125rem;
    line-height: 1.2;
    color: $blue;
    font-family: $default-font;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 20px;
    color: $text-white;
  }
}

.navbar__home {
  padding-top: 0;
  padding-bottom: 0;
}

.signup-index {
  border: 1px solid $dark-blue;
  border-radius: 0.2rem;
  padding: 0.3rem 1rem;
  background: $blue;
  color: $text-white;
  font-size: 1.1rem;
  font-weight: 600;
}

.signup-index:hover {
  text-decoration: none;
  color: $text-white;
  background: $dark-blue;
}

.btn-nav__home {
  border: 2.2px solid $blue;
  color: $text-white;
  padding: 0.2rem 0.7rem !important;
  font-weight: 400;

  &:hover {
    color: $text-white;
    opacity: 0.9;
    background-color: $blue;
  }
}

@media (max-width: 420px) {
  .btn-nav__home {
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem !important;
  }
}

@media (max-width: 568px) {
  .home-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../../public/assets/images/parcel_small.jpg");
    background-position: left;

    h1 {
      font-size: 2.15rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .signup-index {
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 1863px) {
  .home-page {
    max-width: 100%;
  }
}

@media (min-width: 1864px) {
  .home-page {
    max-width: 90%;
  }
}
